
 

.resimslider{
    height: 500px;
}
body{
    height: auto;
    background-color:#f2f2f2;
    
}
*{
    font-family: 'Raleway', sans-serif;
}
.hakkı{
    background-color: #f2f2f2;
}
.ibik{
    position: relative;
    top:-40px;
    left: 600px;
    border: 7px solid #f2f2f2;
    background-color: #f2f2f2;
}
.opak:hover{
opacity: 0.9;
transform: scale(1.1,1.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.btn-login {
    background-color: #3498db;
    color: #fff;
}

.btn-signup {
    background-color: #2ecc71;
    color: #fff;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
}
.aa{
    border: 1px solid white;
    flex: 1 0 0 ;
    border-radius: 30px;

}
.footer{
    display: flex;
    width: 100%;
    background-color: black;

}
.maps{
    width: 50%;
    border: 5px solid black;
    padding: 20px;
}
.sarı{
    width: 50%;
    text-align: center;
    color: black;
    padding: 10px;
    background-color: black;

}
.adress{
    width: 100%;
    height: 200px ;
    padding: 10px;
    background-color: bisque;
    margin: 20px 0px;
}
.sosyal{
    width: 100%;
    height: 160px;
    border: 1px solid red;
    text-align: center;
    background-color:bisque ;
}
.xx{
    font-size: 50px;
    margin-left: 20px;
    color: gray;
    border-radius: 15px;
}